// Fonts

// Colors 

// Global Rules
nav 
    position: absolute
    top: 0px
    left: 0px
    width: 100vw
    overflow: hidden
    background-color: pink
    z-index: 99

    li
        padding: 8px 
        display: inline-block

body
    box-sizing: border-box

.one
    background-color: lightBlue

.two
    background-color: lightGreen
    
.three
    background-color: purple

.four
    background-color: cyan

body
    box-sizing: border-box
    overflow: hidden

.app
    width: 100vw
    height: 100vh
    overflow: hidden
    position: absolute 
    top: 0px  
    left: 0px
    background-color: orange

.view
    transition: transform 0.3s ease-in
    position: absolute 
    overflow-y: scroll
    top: 0px  
    width: 100vw
    height: 100vh
    left: 0px
    transform: translateX(100%)
    z-index: 1